		
		* {
	box-sizing: border-box;
}
		
		body {
			background-color: #e5e8c0;
		}
			
			
		.header {
			background-color: #cccccc;
			font-family: 'Bitter', serif;
			text-align: center;
			display: flex;
			grid-area: header;
			justify-content: center;
			width: 80%; 
			margin-top: -8px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
			}
		
		
		.topnav {
			background-color: #333;
			font-family: 'Open Sans', sans-serif;
			text-align: center;
			width: 80%;
			grid-area: nav;
			display: block;
			top: 0;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
			}
			
		
		.topnav a {
			color: white;
			text-decoration: none;
			padding: 15px;
			display: inline-block;
			}
		
		
		.topnav a:hover {
			color: white;
			background-color: #555555;
			transition: 0.9s;
			border-bottom: 2px solid white;
			border-top: 2px solid white;
			}	
			
			
		.active {
			border-bottom: 2px solid white;
			color: white;
			border-top: 2px solid white;
		}
		
		
		.topnav .icon {
			display: none;
		}
			
			
		.text {
			font-family: 'PT Sans', sans-serif;
			padding: 5px;
			font-size: 15px;
			height: auto;
			max-width: 65%;
			margin: 10px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: justify;
			
			}
		
		
		.frontpage {
			width: 80%;
			background-color: #e2e2e2;
			height: auto;
			display: grid;
			grid-area: content;
			margin-right: auto;
			margin-left: auto;
		}
			
			
		.videowrapper {
			width: 70%;
			position: relative;
			padding-bottom: 40%;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
			top: 10px;
		}
		
		
		.videowrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
				
	
		.Lemur {
			height: auto;
			width: 100%;
			padding-top: 10px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			}
			
		.container {
		  position: relative;
		  width: 100%;
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		}

		.overlay {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  height: 100%;
		  width: 100%;
		  opacity: 0;
		  transition: .5s ease;
		  margin-top: 20px;
		  

		}

		.container:hover .overlay {
		  background-color: #e2e2e2;
		  height: 97%;
		  opacity: 0.5;
		}

		.words {
		  color: #000;
		   font-weight: bold;
		  font-size: 1em;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  text-align: center;
		font-family: 'PT Sans', sans-serif;
		  
		  
		}  
		.Zoboomafoo {
			width: 80%;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top: 10px;
			
			}
			
	
		
		.structure {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: auto;
			grid-template-areas: 
				"header header header header header"
				"nav nav nav nav nav"
				"content content content content content";
		}		
	
		
		.mySlides {
			width: 65%;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top: 20px;
			}
		
	
	
	
		.footer {
			padding: 1px;
			width: 80%;
			background-color: #333;
			color: white;
			text-align: center;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
	
		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
		}

			
		.social {
			top: -600px;
			position: relative;
			margin-left: 100px;
			
		}

		
		.icon-bar {
  position: fixed;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left:-1px;
  padding-bottom: 20px;
}

		.icon-bar a {
		  display: block;
		  text-align: center;
		  padding: 16px;
		  transition: all 0.3s ease;
		  color: white;
		  font-size: 20px;
		}	

		.icon-bar a:hover {
			background-color: #000;
		}

		.facebook {
		  background: #3B5998;
		  color: white;
		}

		.twitter {
		  background: #55ACEE;
		  color: white;
		}
		.youtube {
		  background: #bb0000;
		  color: white;
		}


		.Centericon {
			display: none;
		}

	
		
		.zoboomafoovideo {
			width: 70%;
			position: relative;
			padding-bottom: 40%;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
			top: 10px;
			
		}
		
		.zoboomafoovideo iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			
		}
		
		
			

.containerslideshow {
  width: 350px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  
  
}

.containerslideshow img {
  position: absolute;
  top: 0;
  left: -100%;
  transition: transform 0.5s;

}

input {
  display: inline-block;
  position: relative;
  top: 180px;
  z-index: 10;
}

input:checked ~ img {
  transform: translateX(200%);
}

input:checked + img {
  transform: translateX(100%);
}
		

	
		
		@media screen and (min-width: 700px) {
		
		.container {
		  position: relative;
		  width: 65%;
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		}
		
		
		.containerslideshow {
			margin-top: 80px;
		}
		
		
		
		
		}
		
		@media screen and (max-width: 700px) {
		
		
		
		.topnav {
			width: 100%;
			text-align: left;
		}
		.topnav a:not(:first-child) {display: none;}
		.topnav a.icon {
			float: right;
			display: block;
			
			}
			
			
		.topnav.responsive {position: relative;}
		.topnav.responsive a.icon {
			position: absolute;
			right: 0;
			top: 0;
			border-bottom: none;
			}
			
			
		.topnav.responsive a {
			float: none;
			display: block;
			
			}

		
		
		.active {
			border-bottom: none;
			border-top: none;
		}
		
		
		.topnav a:hover {
			color: white;
			background-color: #555555;
			border-bottom: none;
			border-top: none;
			transition: 0s;
			}	
			
		.Lemur {
			padding: 10px;
			width: 100%;
			height: auto;
		}
		
	
		.Zoboomafoo {
			padding: 10px;
			width: 100%;
			height: auto;
			
		}
		
			
		.text {
			font-size: 1em;	
			max-width: 90%;
			height: auto;
			margin: auto;
			text-align: center;
			}
			
			
		.header {
			width: 100%;
			margin: auto;
		}
		
		
		.containerslideshow  {
			width: 100%;
		}
		
		
		.containerslideshow img {
			width: 100%;
			margin-top: 30px;
		}
		
		
		.frontpage{ 
			width: 100%;
			height: auto;
		}
		
		
		.videowrapper {
			width: 100%;
			padding-bottom: 55.3%;
		
		}
		
		.zoboomafoovideo {
			width: 100%;
			padding-bottom: 55.3%;
		
		}
		
		.mySlides {
			width: 100%;
			padding: 10px;
		}
		
		.footer {
			width: 100%;
		}
		
		
		.icon-bar {
			display: none;	
		}
	
		
		.Centericon {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 5px; 
		}
		

	}
		
		

		
			
			
			
		

		
		
		
		
		
		
		
		
		
		