		
		* {
	box-sizing: border-box;
}
		
		body {
			background-color: #e5e8c0;
		}
			
			
		.header {
			background-color: #cccccc;
			font-family: 'Bitter', serif;
			text-align: center;
			display: flex;
			grid-area: header;
			justify-content: center;
			width: 100%; 
			margin-top: -8px;
			}
		
		
		.topnav {
			background-color: #333;
			font-family: 'Open Sans', sans-serif;
			text-align: center;
			width: 100%;
			overflow: hidden;
			grid-area: nav;
			}
			
		
		.topnav a {
			color: #fff;
			text-decoration: none;
			padding: 15px;
			display: inline-block;
			}
		
		
		.topnav a:hover {
			color: white;
			background-color: #555555;
			}	
			
			
		.active {
			border-bottom: 3px solid white;
			color: white;
		}
		
		
		.topnav .icon {
			display: none;
		}
			
			
		.text {
			font-family: 'PT Sans', sans-serif;
			padding: 5px;
			font-size: 15px;
			height: auto;
			max-width: 65%;
			margin: 10px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: justify;
			
			}
		
		
		.frontpage {
			width: 80%;
			background-color: #e2e2e2;
			height: auto;
			display: grid;
			grid-area: content;
			margin-right: auto;
			margin-left: auto;
		}
			
			
		.videowrapper {
			width: 70%;
			position: relative;
			padding-bottom: 40%;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
			top: 10px;
		}
		
		
		.videowrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
				
	
		.Lemur {
			display:block;
			height: auto;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			padding-top: 10px;
			position: relative;
			}
			
		
   

			
			
		.Zoboomafoo {
			width: 80%;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top: 10px;
			
			}
			
	
		
		.structure {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: auto;
			grid-template-areas: 
				"header header header header header"
				"nav nav nav nav nav"
				"content content content content content";
		}		
	
		
		.mySlides {
			width: 65%;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top: 20px;
			}
		
	
	
	
		.footer {
			padding: 1px;
			width: 80%;
			background-color: #333;
			color: white;
			text-align: center;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
	
		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
		}

			
		.social {
			top: -600px;
			position: relative;
			margin-left: 100px;
			background-color: ;
		}

		
		.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left:-1px;
  padding-bottom: 20px;
}

		.icon-bar a {
		  display: block;
		  text-align: center;
		  padding: 16px;
		  transition: all 0.3s ease;
		  color: white;
		  font-size: 20px;
		}	

		.icon-bar a:hover {
			background-color: #000;
		}

		.facebook {
		  background: #3B5998;
		  color: white;
		}

		.twitter {
		  background: #55ACEE;
		  color: white;
		}
		.youtube {
		  background: #bb0000;
		  color: white;
		}


		.Centericon {
			display: none;
		}

	
		
		
		
		
		
		
		
		
		
		
		
		@media screen and (max-width: 600px) {
		.topnav a:not(:first-child) {display: none;}
		.topnav a.icon {
			float: right;
			display: block;
			}
			
			
		.topnav.responsive {position: relative;}
		.topnav.responsive a.icon {
			position: absolute;
			right: 0;
			top: 0;
			}
			
			
		.topnav.responsive a {
			float: none;
			display: block;
			}

		
		.Lemur {
			padding: 10px;
			width: 100%;
			height: auto;
		}
		
	
		.Zoboomafoo {
			padding: 10px;
			width: 100%;
			height: auto;
		}
		
			
		.text {
			font-size: 1em;	
			max-width: 90%;
			height: auto;
			margin: auto;
			text-align: center;
			}
			
			
		.header {
			width: 100%;
			margin: auto;
		}
		
		
		.frontpage{ 
			width: 100%;
			height: auto;
		}
		
		
		.videowrapper {
			width: 100%;
			padding-bottom: 55.3%;
		
		}
		
		.mySlides {
			width: 100%;
			padding: 10px;
		}
		
		.footer {
			width: 100%;
		}
		
		
		
		
		
		.icon-bar {
			display: none;	
		}
	
		
		.Centericon {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 5px; 
		}
		

	}
		
		

		
			
			
			
		

		
		
		
		
		
		
		
		
		
		